*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.conta{
    width: 100%;
   
}
.bo{
    height: 400px;
    margin-top: 10px;
    margin-left: -100px;
    opacity: .7;
    
}
.sibi h1{
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    margin-left: 50%;
    transform: translateX(-50%);
    top: 10px;    
    margin-top: 50px;
    border-bottom: 2px solid black;
    text-align: center;
    padding: 5px;
}
.sibi{
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
    overflow: hidden;
    
}
.sibi h5{
margin-left: 90%;
opacity: .6;
 
}
.sibi p{
    width: 100%;
    margin-top: 40px;
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}